html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html * {
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clearfix:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

@import "../assets/fontawsome/font-awesome.min.css";
